<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>app.becap</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>becap</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
